{{#wn-card
  onsubmit=attrs.onsubmit
  onsubmitExtra=attrs.onsubmitExtra
  title='Sign Up for More Info'
  buttonText='Submit'
  extraButtonText='Get Composting ASAP'}}
  <div class="row">
    {{wn-input
      classNames='col s12 m6'
      label='First Name'}}
    {{wn-input
      classNames='col s12 m6'
      label='Last Name'}}
  </div>

  <div class="row">
    {{wn-input
      classNames='col s12 m4'
      label='House number'}}
    {{wn-input
      classNames='col s12 m4'
      label='Street'}}
    {{wn-input
      classNames='col s12 m4'
      label='Apt/Suite'}}
  </div>

  <div class="row">
    {{wn-input
      classNames='col s12 m4'
      label='City'}}
    {{wn-input
      classNames='col s12 m4'
      label='State'}}
    {{wn-input
      classNames='col s12 m4'
      label='Zip'}}
  </div>

  <div class="row">
    {{wn-input
      classNames='col s12 m6'
      type='email'
      label='Email Address'}}
    {{wn-input
      classNames='col s12 m6'
      label='Phone'}}
  </div>
{{/wn-card}}
