<div class="nav-wrapper">
  <div class="container">
    {{#link-to 'index' class="brand-logo"}}
      <img alt   = "WasteNot Logo"
           src   = "/assets/images/wastenot_logo_nav.png"
           title = "Waste Not Compost logo">
    {{/link-to}}
    <ul class="right hide-on-med-and-down">
      {{#each navLinks as |link|}}
        {{#link-to link.route tagName="li"}}
          {{link-to link.text link.route}}
        {{/link-to}}
      {{/each}}
      {{#if isAdmin}}
        {{#each adminLinks as |link|}}
          {{#link-to link.route tagName="li"}}
            {{link-to link.text link.route}}
          {{/link-to}}
        {{/each}}
      {{/if}}
    </ul>
  </div>

  <a class="button-collapse" data-activates="{{_sideNavId}}">
    <i class="material-icons">menu</i>
  </a>
</div>

<ul id="{{_sideNavId}}" class="side-nav">
  {{#each navLinks as |link|}}
    {{#link-to link.route tagName="li"}}
      {{link-to link.text link.route}}
    {{/link-to}}
  {{/each}}
  {{#if isAdmin}}
    {{#each adminLinks as |link|}}
      {{#link-to link.route tagName="li"}}
        {{link-to link.text link.route}}
      {{/link-to}}
    {{/each}}
  {{/if}}
</ul>
