{{#md-navbar name="WasteNot" homeRoute='home'}}
  {{li-link target='home' text='Home'}}
  {{li-link target='about' text='About'}}
  {{li-link target='services' text='Services'}}
  {{li-link target='register' text='Sign Up'}}
{{/md-navbar}}

<div class="container">
  {{liquid-outlet}}
  {{wn-footer}}
</div>

