<div class="row">
  <div class="col s12 m8 offset-m2">
    {{#md-card title="Sign Up for More Info"}}
      {{#md-card-content}}
        <div class="row">
          {{md-input
            class='col s12 m6'
            label='First Name'
            value=model.firstName
          }}
          {{md-input
            class='col s12 m6'
            label='Last Name'
            value=model.lastName
          }}
        </div>

        <div class="row">
          {{md-input
            class='col s12 m6'
            type='email'
            label='Email Address'
            value=model.email
          }}
          {{md-input
            class='col s12 m6'
            type="tel"
            label='Phone'
            value=model.phone
          }}
        </div>

        <div class="row">
          {{md-input
            class='col s12 m4'
            label='House number'
            value=model.address.house
          }}
          {{md-input
            class='col s12 m4'
            label='Street'
            value=model.address.street
          }}
          {{md-input
            class='col s12 m4'
            label='Apt/Suite'
            value=model.address.apt
          }}
        </div>

        <div class="row">
          {{md-input
            class='col s12 m4'
            label='City'
            value=model.address.city
          }}
          {{md-input
            class='col s12 m4'
            label='State'
            value=model.address.state
          }}
          {{md-input
            class='col s12 m4'
            label='Zip'
            value=model.address.zip
          }}
        </div>
      {{/md-card-content}}

      <div class="center-align">
        {{md-btn-submit
          action='doRegister'
          class='submit-button'
          text='Submit'
        }}

        {{md-btn-submit
          action='doDetails'
          class='details-button'
          text='Get Composting ASAP'
        }}
      </div>
    {{/md-card}}
  </div>
</div>
