<div class="row">
  <div class="col s12 m8 offset-m2">
    {{#md-card title="Sign Up for More Info"}}
      {{#md-card-content}}
        <div class="row">
          {{md-input
            class='col s12 m6'
            label='First Name'
            value=model.firstName
            validate=true
          }}
          {{md-input
            class='col s12 m6'
            label='Last Name'
            value=model.lastName
            validate=true
          }}
        </div>

        <div class="row">
          {{md-input
            class='col s12'
            type='email'
            label='Email Address'
            value=model.email
            validate=true
          }}
        </div>

        <div class="row">
          <h6>What is your Service Type?</h6>
          {{#md-radios selection = model.details.serviceType}}
            <p>{{md-radio value='residential' name="Residential"}}</p>
            <p>{{md-radio value='commercial' name="Commercial"}}</p>
          {{/md-radios}}
          </div>
      {{/md-card-content}}

      <div class="center-align">
        {{md-btn-submit
          action='doRegister'
          class='submit-button'
          text='Submit'
        }}

        {{md-btn-submit
          action='doDetails'
          class='details-button'
          text='Get Composting ASAP'
        }}
      </div>
    {{/md-card}}
  </div>
</div>
